*, html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img{
    border-radius: 50%;
}

h1, li{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.sub-title{
    color: hsl(0, 0%, 100%);
    margin-top: 2.2rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.social-links{
    margin-top: 2.2rem;
    
}

.location{
    color: hsl(75, 94%, 57%);
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

li{
    list-style-type: none;
    background-color: hsl(0, 0%, 20%);
    height: 3.8rem;
    margin: 1.5rem 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;;
    margin-top: 1.6rem;
    border-radius: 0.5rem;
    
}

.social-card{
    border-radius: 3%;
}

img{
    width: 7.5rem;
}

.social-card{
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 1rem;
    width: 87%;
    max-width: 87%;
    height: 65vh;
    max-height: 65vh;
    padding-bottom: 50rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    
}

img{
    margin-top: 1rem;
}

h1{
    margin-top: 2.2rem;
    font-size: 2rem;
}

.attribution{
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0 3rem;
    
}

.attribution a{
    color: hsl(75, 94%, 57%);
}


li:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

@media screen and (min-width: 376px) {
    .social-card{
       max-width: 28rem;
        padding: 1.8rem;
       
    }

   h1{
    font-size: 1.7rem;
    margin-top: 2rem;
   }

   li{
    font-size: 1rem;
    height: 3.2rem;
    margin: 1.2rem;
   }

   p, .location{
    font-size: 1rem;
    
   }

   .location{
    margin-top: 0.9rem;
   }

   img{
    width: 6.4rem;
   }

   

    
}



